@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/nprogress/nprogress.css';

$body-background: #e9ebee;
$recent-searches-background: #f6f7f9;
$recent-searches-color: #90949c;


body {
  background-color: $body-background;
}

#nprogress  {
  .bar {
    background: $white;
  }
  .spinner-icon {
    border-top-color: $white;
    border-left-color: $white;
  }
}

.search-input-container {
  position: relative;

  .autocomplete-container {
    box-shadow: 0px 1px 3px rgba($black, .3);
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    .recent-searches-note {
      padding: 3px 20px;
      background: $recent-searches-background;
      font-size: 0.8rem;
      font-weight: bold;
      pointer-events: none;
      color: $recent-searches-color;
    }
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 50px;
  position: relative;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: -500px 0
  }
  100% {
    background-position: 500px 0
  }
}
